.file-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    padding: 15px;
    box-sizing: border-box;
    transition: all 0.1s ease-out;
}
.file-wrapper:hover {
    background-color: #ebebeb;
}
.file-item {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 80%;
    margin-left: 25px;
}
.file-controls {
    flex: 1 2%;
    display: flex;
    justify-content: space-evenly;
}
.file-name {
    flex: 1 100%;
    overflow: hidden;
}
.control {
    border: none;
    background: none;
    display: block;
}
.fas {
    color: #2b2b2b;
    font-size: 20px;
    transition: all 0.1s ease-out;
}
.fas:hover {
    cursor: pointer;
    color: #0a82d1;
    transform: scale(1.2);
}

.file-icon .fas {
    font-size: 32px;
}
.file-icon .fas:hover {
    transform: none;
    color: initial;
}

